<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warehouse Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <style>

    </style>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" id="currentUser" style="color: white;"></a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" style="display: flex; align-items: center;">
                <p style="margin-bottom: 0;"><a href="/logout"
                                                class="logout-link" style="color: white;">Log Out</a></p>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid h-100">
    <div class="row h-100">
        <!-- Sidebar -->
        <div class="col-2" id="sidebar">
            <ul class="nav nav-pills flex-column" style="padding-top: 1rem;">
                <li class="nav-item">
                    <a class="nav-link active" id="allOrdersButton" data-toggle="tab" href="#allOrders">All Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="handOutButton" data-toggle="tab" href="#handOut">Hand Out</a>
                </li>
            </ul>
        </div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 bg-light">
            <div class="tab-content" id="ordersContent">
                <div class="tab-pane fade show active" id="allOrders" role="tabpanel">
                    <h1>Все заказы</h1>
                    <table class="table" id="ordersTable">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Название</th>
                            <th scope="col">Ссылка</th>
                            <th scope="col">Статус</th>
                            <th scope="col">Действия</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>
</div>

<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document" style="background-color: white;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">Update Order Status</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="form-group">
                    <label for="idUpdate">Order ID</label>
                    <input readonly type="number" class="form-control" id="idUpdate" placeholder="Order ID">
                </div>
                <div class="form-group">
                    <label for="nameUpdate">Order Name</label>
                    <input readonly type="text" class="form-control" id="nameUpdate" placeholder="Order Name">
                </div>
                <div class="form-group">
                    <label for="statusUpdate">Status</label>
                    <select class="form-control" id="statusUpdate">
                        <option value="CREATED">CREATED</option>
                        <option value="RECEIVED">RECEIVED</option>
                        <option value="PICKED_UP">PICKED_UP</option>
                        <option value="RETURN">RETURN</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Update Status</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script>
    var ordersData = {};

    function showOrders() {
        $.ajax({
            url: '/api/v1/employee/orders',
            method: 'GET',
            dataType: 'json',
            success: function(orders) {
                var ordersTable = $('#ordersTable tbody');
                ordersTable.empty();
                orders.forEach(function(order) {
                    ordersData[order.id] = order;

                    ordersTable.append(
                        '<tr>' +
                        '<td>' + order.id + '</td>' +
                        '<td>' + order.name + '</td>' +
                        '<td>' + (order.link ? order.link : 'N/A') + '</td>' +
                        '<td>' + order.status + '</td>' +
                        '<td>' +
                        '<button class="btn btn-primary btn-update" data-id="' + order.id +
                        '" data-toggle="modal" data-target="#updateModal">Update</button>' +
                        '</td>' +
                        '</tr>'
                    );
                });
            },
        });
    }

    $(document).on('click', '.btn-update', function() {
        var orderId = $(this).data('id');
        var order = ordersData[orderId];

        if (order) {
            $('#idUpdate').val(order.id);
            $('#nameUpdate').val(order.name);
            $('#statusUpdate').val(order.status);
        }
    });
</script>


<script>
   $('#updateModal .btn-primary').click(function() {
       var orderId = $('#idUpdate').val();
       var newStatus = $('#statusUpdate').val();

       $.ajax({
           url: '/api/v1/employee/orders/' + orderId + '/status?newStatus=' + newStatus,
           method: 'PUT',
           success: function(response) {
               $('#updateModal').modal('hide');
               showOrders();
           },
           error: function() {
               alert('Can not update');
           }
       });
   });
</script>

<script>
    $(document).ready(function() {
    $.ajax({
        url:'/api/v1/current-user',
        method: 'GET',
        dataType: 'json',
        success: function(data) {
            var roleNames = data.roles.map(function(role) {
                return role.authority.replace('ROLE_', '');
            }).join(', ');
            $('#currentUser').text(data.name + " with roles: " + roleNames);
        }
    });
});
</script>

<script>
    $(document).ready(function() {
        showOrders();

        $('#allOrdersButton').click(function() {
            $('#allOrders').show();
            $('#handOut').hide();
            showOrders();
        });
    });
</script>
</body>
</html>