<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Orders</title>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body class="bg-light">

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="position: fixed; top: 0; width: 100%;">
    <a class="navbar-brand" id="currentUser" style="color: white;"></a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" style="display: flex; align-items: center;">
                <p style="margin-bottom: 0;"><a href="/logout"
                                                class="logout-link" style="color: white;">Log Out</a></p>
            </li>
        </ul>
    </div>
</nav>

<div class="order-container">
    <h3 class="text">Мои заказы</h3>
    <div id="orders-list">
        <!--    orders   -->
    </div>
</div>

<!-- Модальное окно -->
<div class="modal" id="orderModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Order Details</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p id="orderLink"></p>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script>
    $(document).ready(function() {
    function getUserOrders(userId) {
        $.ajax({
            url:'/api/v1/myorders/user/' + userId,
            method: 'GET',
            dataType: 'json',
            success: function(orders) {
                var ordersList = $('#orders-list');
                var ordersHeader = $('.text'); // Ссылка на заголовок
                ordersList.empty();
                if (orders.length > 0) {
                    ordersHeader.text('Мои заказы');
                    orders.forEach(function(order) {
                        var orderElement = $('<div>' + order.name + '</div>');
                        orderElement.on('click', function() {
                            // Берем QR-код с сервера
                            $.ajax({
                                url: '/api/v1/myorders/' + order.id + '/qr',
                                method: 'GET',
                                xhrFields: {
                                    responseType: 'blob'
                                },
                                success: function(data) {
                                    var urlCreator = window.URL || window.webkitURL;
                                    var imageUrl = urlCreator.createObjectURL(data);
                                    $('#orderLink').html($('<img>').attr('src', imageUrl));
                                    $('#orderModal').modal('show');
                                },
                            });
                        });
                        ordersList.append(orderElement);
                    });
                } else {
                    ordersHeader.text('Нет заказов, готовых к получению');
                }
            },
            error: function() {
                ordersList.append('<div>Не удалось получить данные о заказах</div>');
            }
        });
    }

    $.ajax({
        url:'/api/v1/current-user',
        method: 'GET',
        dataType: 'json',
        success: function(data) {
            var roleNames = data.roles.map(function(role) {
                return role.authority.replace('ROLE_', '');
            }).join(', ');
            $('#currentUser').text(data.name + " with roles: " + roleNames);

            getUserOrders(data.id);
        },
        error: function() {
            $('#currentUser').text('Error loading user data');
        }
    });
});
</script>

</body>
</html>
