<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <style>
        body, html {
            height: 100%;
        }
        #sidebar {
            min-height: 100%;
        }
        .admin-only {
            display: none;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2
        }
        .modal-backdrop {
            background-color: rgba(0, 0, 0, 0.5);
        }
        .modal-open .modal {
            overflow-x: hidden;
            overflow-y: auto;
        }

    </style>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" id="currentUser" style="color: white;"></a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" style="display: flex; align-items: center;">
                <p style="margin-bottom: 0;"><a href="/logout"
                                                class="logout-link" style="color: white;">Log Out</a></p>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid h-100">
    <div class="row h-100">
        <!-- Sidebar -->
        <div class="col-2" id="sidebar">
            <ul class="nav nav-pills flex-column" style="padding-top: 1rem;">
                <li class="nav-item admin-only" id="adminAreaButton">
                    <a class="nav-link" data-toggle="tab" href="#adminArea">Admin</a>
                </li>
                <li class="nav-item user-only" id="userAreaButton">
                    <a class="nav-link" data-toggle="tab" href="#userArea">User</a>
                </li>
                <li class="nav-item employee-only" id="warehouseAreaButton">
                    <a class="nav-link" data-toggle="tab" href="#warehouseArea">Warehouse</a>
                </li>
            </ul>
        </div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 bg-light">
            <!-- ADMIN -->
            <div class="container-fluid admin-only" id="adminArea">
                <h1 class="text">Admin Panel</h1>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="allUsers-tab" data-toggle="tab" href="#allUsers" role="tab"
                           aria-controls="allUsers" aria-selected="true">All Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="newUser-tab" data-toggle="tab" href="#newUser" role="tab"
                           aria-controls="newUser" aria-selected="false">New User</a>
                    </li>
                </ul>

                <div class="tab-content" id="myTabContent">
                    <!--   ALL USERS TAB    -->
                    <div class="tab-pane fade show active" id="allUsers" role="tabpanel"
                         aria-labelledby="allUsers-tab">
                        <div class="header">
                            <br>
                            <h5 class="title" id="allUsersLabel">All users</h5>
                            <br>
                        </div>
                        <table class="table" id="usersTable" style="background-color: white;">
                            <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">User name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Email</th>
                                <th scope="col">Password</th>
                                <th scope="col">Roles</th>
                                <th scope="col">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- All Users -->
                            </tbody>
                        </table>
                    </div>
                    <!--   NEW USER TAB    -->
                    <div class="tab-pane fade" id="newUser" role="tabpanel" aria-labelledby="newUser-tab">
                        <div class="header">
                            <br>
                            <h5 class="title" id="addUserLabel">Add new user</h5>
                            <br>
                        </div>
                        <div class="card" style="width: 50%; margin: auto;">
                            <div class="card-body">
                                <form class="centered-form text-center"
                                      action="/pick-up-point/admin/new-user" method="post">
                                    <div class="form-group">
                                        <label for="nameNew">Name</label>
                                        <input type="text" id="nameNew" name="name"
                                               class="form-control" placeholder="User Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="ageNew">Age</label>
                                        <input type="number" id="ageNew" name="age"
                                               class="form-control" placeholder="Age">
                                    </div>
                                    <div class="form-group">
                                        <label for="emailNew">Email</label>
                                        <input type="text" id="emailNew" name="email"
                                               class="form-control" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <label for="passwordNew">Password</label>
                                        <input type="password" id="passwordNew" name="password"
                                               class="form-control" placeholder="Password">
                                    </div>
                                    <br>
                                    <button type="button" class="btn btn-success">Add new user</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- USER UPDATE MODAL -->
            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
                 aria-hidden="true" >
                <div class="modal-dialog" role="document" style="background-color: white;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-center">
                            <div class="form-group">
                                <label for="idUpdate">Id</label>
                                <input readonly type="number" class="form-control" id="idUpdate" placeholder="Id">
                            </div>
                            <div class="form-group">
                                <label for="nameUpdate">Name</label>
                                <input type="text" class="form-control" id="nameUpdate" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label for="ageUpdate">Age</label>
                                <input type="number" class="form-control" id="ageUpdate" placeholder="Age">
                            </div>
                            <div class="form-group">
                                <label for="emailUpdate">Email</label>
                                <input type="text" class="form-control" id="emailUpdate" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label for="passwordUpdate">Password</label>
                                <input type="text" class="form-control" id="passwordUpdate" placeholder="New Password">
                            </div>
                            <div class="form-group">
                                <label for="roleUpdate">Role</label>
                                <select multiple class="form-control" id="roleUpdate">
                                    <option value="1">User</option>
                                    <option value="2">Employee</option>
                                    <option value="3">Admin</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Edit</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- USER DELETE MODAL-->
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document"  style="background-color: white;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-center">
                            <div class="form-group">
                                <label for="idDelete">Id</label>
                                <input readonly type="number" class="form-control" id="idDelete" placeholder="Id">
                            </div>
                            <div class="form-group">
                                <label for="nameDelete">Name</label>
                                <input readonly type="text" class="form-control" id="nameDelete" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label for="ageDelete">Age</label>
                                <input readonly type="number" class="form-control" id="ageDelete" placeholder="Age">
                            </div>
                            <div class="form-group">
                                <label for="emailDelete">Email</label>
                                <input readonly type="text" class="form-control" id="emailDelete" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label for="passwordDelete">Password</label>
                                <input readonly type="text" class="form-control" id="passwordDelete"
                                       placeholder="Password"></div>
                            <div class="form-group">
                                <label for="roleDelete">Role</label>
                                <select multiple class="form-control" id="roleDelete" disabled>
                                    <option value="1">User</option>
                                    <option value="2">Admin</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Delete</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ЮЗЕР -->
            <div class="container-fluid user-only tab-pane fade" id="userArea">
                <div class="user-only">
                    <div class="order-container" style="flex-grow: 1; text-align: center;">
                        <h3 class="text">Мои заказы</h3>
                        <div id="orders-container">
                            <!--   ЗАКАЗЫ   -->
                        </div>
                    </div>
                </div>

                <!-- МОДАЛЬ НА ГОТОВЫЙ К ХЭНДАУТУ ЗАКАЗ -->
                <div class="modal" id="orderModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div style="flex-grow: 1; text-align: center;">
                                    <h5 class="modal-title" style="flex-grow: 1; text-align: center;">
                                        Покажите код сотруднику
                                    </h5>
                                </div>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body" style="flex-grow: 1; text-align: center;">
                                <p id="orderLink"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- СЕКТОР СКЛАДА -->
            <div class="container-fluid employee-only tab-pane fade" id="warehouseArea">

                <div class="container-fluid employee-only" id="receivePackageArea">
                    <h2>Прием товара</h2>
                    <form id="receiveOrderForm" class="form-row align-items-end">
                        <div class="col-8 mb-3">
                            <label for="orderNameInput">Название заказа</label>
                            <input type="text" class="form-control" id="orderNameInput" placeholder="Введите название заказа">
                        </div>
                        <div class="col-3 mb-3">
                            <label for="customerIdInput">ID клиента</label>
                            <input type="number" class="form-control" id="customerIdInput" placeholder="ID">
                        </div>
                        <div class="col-1 mb-3">
                            <button type="submit" class="btn btn-primary float-right">Принять</button>
                        </div>
                    </form>
                </div>

                <!-- ЗАКАЗЫ -->
                <div class="tab-content" id="ordersContent">
                    <div class="tab-pane fade show active" id="allOrders" role="tabpanel">
                        <h1>Все заказы</h1>
                        <table class="table" id="ordersTable">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Название</th>
                                <th scope="col">Статус</th>
                                <th scope="col">Действия</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!--ТАБЛИЦА -->
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- АПДЕЙТ ЗАКАЗА -->
                <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document" style="background-color: white;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="updateModalLabel">Update Order Status</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body text-center">
                                <div class="form-group">
                                    <label for="idOrdUpdate">Order ID</label>
                                    <input readonly type="number" class="form-control"
                                           id="idOrdUpdate" placeholder="Order ID">
                                </div>
                                <div class="form-group">
                                    <label for="nameOrdUpdate">Order Name</label>
                                    <input readonly type="text" class="form-control"
                                           id="nameOrdUpdate" placeholder="Order Name">
                                </div>
                                <div class="form-group">
                                    <label for="statusUpdate">Status</label>
                                    <select class="form-control" id="statusUpdate">
                                        <option value="RECEIVED">Прибыл на ПВЗ</option>
                                        <option value="PICKED_UP">Получен заказчиком</option>
                                        <option value="RETURN">Возврат</option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Обновить статус</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script>
    var currentUser = null;

    function getCurrentUser(callback) {
        if (currentUser) {
            callback(currentUser);
        } else {
            $.ajax({
                url: '/pick-up-point/current-user',
                method: 'GET',
                dataType: 'json',
                success: function(data) {
                    currentUser = data;
                    callback(data);
                },
                error: function() {
                    console.error('Ошибка - не загружены данные пользователя');
                }
            });
        }
    }
</script>

<script>
    function displayUserInfo(user) {
        var roleNames = user.roles.map(function(role) {
            return role.authority.replace('ROLE_', '');
        }).join(', ');
        $('#currentUser').text(user.name + " with roles: " + roleNames);
    }
</script>

<script>
    function checkUserRolesAndDisplaySections(user) {
        $('.admin-only, .employee-only, .user-only').hide();
        var isAdmin = user.roles.some(role => role.authority === 'ROLE_ADMIN');
        var isEmployee = user.roles.some(role => role.authority === 'ROLE_EMPLOYEE');
        var isUser = user.roles.some(role => role.authority === 'ROLE_USER');

        if (isAdmin && isEmployee && isUser) {
            $('.admin-only, .employee-only, .user-only').show();
            $('#adminAreaButton a').addClass('active');
            $('#adminArea').addClass('active show');
            showTable();
            showOrders();
        } else if (isAdmin && isUser) {
            $('.admin-only, .user-only').show();
            $('#adminAreaButton a').addClass('active');
            $('#adminArea').addClass('active show');
            showTable();
        } else if (isEmployee && isUser) {
            $('.employee-only, .user-only').show();
            $('#warehouseAreaButton a').addClass('active');
            $('#warehouseArea').addClass('active show');
            $('#warehouseAreaButton').click();
            showOrders();
        } else if (isAdmin) {
            $('.admin-only').show();
            $('#adminAreaButton a').addClass('active');
            $('#adminArea').addClass('active show');
            showTable();
        } else if (isEmployee) {
            $('.employee-only').show();
            $('#warehouseAreaButton a').addClass('active');
            $('#warehouseArea').addClass('active show');
            $('#warehouseAreaButton').click();
            showOrders();
        } else if (isEmployee && isUser) {
            $('.employee-only, .user-only').show();
            $('#warehouseAreaButton a').addClass('active');
            $('#warehouseArea').addClass('active show');
            $('#warehouseAreaButton').click();
            showOrders();
        } else if (isUser) {
            $('.user-only').show();
            $('#userAreaButton a').addClass('active');
            $('#userArea').addClass('active show');
            $('#userAreaButton').click();
        }
    }
</script>

<script>

    function checkUserOrders(user) {
        var ordersContainer = $('#orders-container');
        $.ajax({
            url:'/pick-up-point/myorders/user/' + user.id,
            method: 'GET',
            success: function(response) {
                ordersContainer.empty();
                if (response === true) {
                    var orderMessage = $('<a href="#">Ваш заказ прибыл</a>');
                    orderMessage.on('click', function() {
                        $.ajax({
                            url: '/pick-up-point/myorders/' + user.id + '/qr',
                            method: 'GET',
                            xhrFields: {
                                responseType: 'blob'
                            },
                            success: function(data) {
                                var urlCreator = window.URL || window.webkitURL;
                                var imageUrl = urlCreator.createObjectURL(data);
                                $('#orderLink').html($('<img>').attr('src', imageUrl));
                                $('#orderModal').modal('show');
                            },
                            error: function() {
                                $('#orderLink').text('Не получен QR-код');
                            }
                        });
                    });
                    ordersContainer.append(orderMessage);
                } else {
                    ordersContainer.text('Нет заказов, готовых к получению');
                }
            },
            error: function(jqXHR) {
                ordersContainer.empty();
                if(jqXHR.status === 404) {
                    ordersContainer.text('Заказы не найдены');
                } else {
                    ordersContainer.text('Не удалось получить данные о заказах');
                }
            }
        });
    }
</script>

<script>
    $(document).ready(function() {
        getCurrentUser(function(user) {
            displayUserInfo(user);
            checkUserRolesAndDisplaySections(user);
            if (user.roles.some(role => role.authority === 'ROLE_USER')) {
                checkUserOrders(user);
            }
        });

        $('#adminAreaButton').click(function() {
            $('#adminArea').show();
            $('#userArea').hide();
            $('#warehouseArea').hide();
        });

        $('#userAreaButton').click(function() {
            $('#userArea').show();
            $('#adminArea').hide();
            $('#warehouseArea').hide();
        });

        $('#warehouseAreaButton').click(function() {
            $('#warehouseArea').show();
            $('#adminArea').hide();
            $('#userArea').hide();
        });
    });
</script>

<script>
    <!--  таблица юзеров (админская)   -->
    function showTable() {
        $.ajax({
            url: '/pick-up-point/users',
            method: 'GET',
            dataType: 'json',
            success: function(data) {
                var usersTable = $('#usersTable tbody');
                usersTable.empty();
                data.forEach(function(user) {
                    usersTable.append(
                        '<tr>' +
                        '<td>' + user.id + '</td>' +
                        '<td>' + user.name + '</td>' +
                        '<td>' + user.age + '</td>' +
                        '<td>' + user.email + '</td>' +
                        '<td>' + user.password + '</td>' +
                        '<td>' + user.roles.map(function(role) {
                        return role.authority.replace('ROLE_', ''); }).join(', ') + '</td>' +
                        '<td>' +
                        '<button class="btn btn-primary btn-edit" data-id="' + user.id
                        + '" data-toggle="modal" data-target="#editModal">Update</button>' +
                        ' ' +
                        '<button class="btn btn-danger btn-delete" data-id="' + user.id
                        + '" data-toggle="modal" data-target="#deleteModal">Delete</button>' +
                        '</td>' +
                        '</tr>'
                    );
                });

                $('.btn-edit').click(function() {
                    const userId = $(this).data('id');
                    const user = data.find(user => user.id === userId);
                    const roles = user.roles.map(role => role.authority);

                    $('#idUpdate').val(user.id);
                    $('#nameUpdate').val(user.name);
                    $('#ageUpdate').val(user.age);
                    $('#emailUpdate').val(user.email);
                    $('#passwordUpdate').val(user.password);
                    $('#roleUpdate').val(user.roles.map(role => role.id));
                });

                $('.btn-delete').click(function() {
                    const userId = $(this).data('id');
                    const user = data.find(user => user.id === userId);
                    const roles = user.roles.map(role => role.authority);

                    $('#idDelete').val(user.id);
                    $('#nameDelete').val(user.name);
                    $('#ageDelete').val(user.age);
                    $('#emailDelete').val(user.email);
                    $('#passwordDelete').val(user.password);
                    $('#roleDelete').val(user.roles.map(role => role.id));
                });
            }
        });
    }
</script>

<script>
    $('#editModal .btn-primary').click(function() {
        var userId = $('#idUpdate').val();
        var selectedRoleIds = $('#roleUpdate').val();
        var rolesArray = selectedRoleIds.map(function(roleId) {
            return { id: roleId };
        });
        var userData = {
            id: userId,
            name: $('#nameUpdate').val(),
            age: $('#ageUpdate').val(),
            email: $('#emailUpdate').val(),
            password: $('#passwordUpdate').val(),
            roles: rolesArray
        };

        $.ajax({
            url: '/pick-up-point/users/' + userId,
            method: 'PUT',
            contentType: 'application/json',
            data: JSON.stringify(userData),
            success: function(response) {
                $('#editModal').modal('hide');
                showTable();
            },
            error: function() {
                alert('Error updating user');
            }
        });
    });
</script>

<script>
    $('#deleteModal .btn-primary').click(function() {
        var userId = $('#idDelete').val();

        $.ajax({
            url: '/pick-up-point/users/' + userId,
            method: 'DELETE',
            success: function(response) {
                $('#deleteModal').modal('hide');
                showTable();
            },
            error: function() {
                alert('Error deleting user');
            }
        });
    });
</script>

<script>
    $('#newUser .btn-success').click(function() {
        var newUser = {
            name: $('#nameNew').val(),
            age: $('#ageNew').val(),
            email: $('#emailNew').val(),
            password: $('#passwordNew').val(),
        };

        $.ajax({
            url: '/pick-up-point/new-user',
            method: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(newUser),
            success: function(response) {
                showTable();
                $('#nameNew').val('');
                $('#ageNew').val('');
                $('#emailNew').val('');
                $('#passwordNew').val('');
                $('#allUsers-tab').click();
            },
            error: function() {
                alert('Error creating user');
            }
        });
    });
</script>

<script>
    var ordersData = {};

    function showOrders() {
        $.ajax({
            url: '/pick-up-point/orders',
            method: 'GET',
            dataType: 'json',
            success: function(orders) {
                var ordersTable = $('#ordersTable tbody');
                ordersTable.empty();
                orders.forEach(function(order) {
                    ordersData[order.id] = order;
                    var statusShow = '';
                    switch (order.status) {
                        case 'RECEIVED':
                            statusShow = 'Прибыл на ПВЗ';
                            break;
                        case 'PICKED_UP':
                            statusShow = 'Получен заказчиком';
                            break;
                        case 'RETURN':
                            statusShow = 'Возврат';
                            break;
                        default:
                            statusShow = order.status;
                    }

                    ordersTable.append(
                        '<tr>' +
                        '<td>' + order.id + '</td>' +
                        '<td>' + order.name + '</td>' +
                        '<td>' + statusShow + '</td>' +
                        '<td>' +
                        '<button class="btn btn-primary btn-update" data-id="' + order.id +
                        '" data-toggle="modal" data-target="#updateModal">Update</button>' +
                        '</td>' +
                        '</tr>'
                    );
                });
                console.log('Заказы пошли в таблицу.');
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.error('Заказы не грузятся:', textStatus, errorThrown);
            }
        });
    }

    $(document).on('click', '.btn-update', function() {
        var orderId = $(this).data('id');
        var order = ordersData[orderId];

        if (order) {
            $('#idOrdUpdate').val(order.id);
            $('#nameOrdUpdate').val(order.name);
            $('#statusUpdate').val(order.status);
        } else {
            console.error('Заказ не найден, ID ' + orderId);
        }
    });
</script>

<script>
    <!--Апдейт статуса-->
       $('#updateModal .btn-primary').click(function() {
           var orderId = $('#idOrdUpdate').val();
           var newStatus = $('#statusUpdate').val();

           $.ajax({
               url: '/pick-up-point/orders/' + orderId + '/?newStatus=' + newStatus,
               method: 'PUT',
               success: function(response) {
                   $('#updateModal').modal('hide');
                   showOrders();
               },
               error: function() {
                   alert('Error updating order status');
               }
           });
       });
</script>

<script>
    $(document).ready(function() {
        $('#receiveOrderForm').submit(function(event) {
            event.preventDefault();

            var order = {
                name: $('#orderNameInput').val().trim(),
                customer: { id: $('#customerIdInput').val().trim() }
            };

            if (order.name && order.customer.id) {
                $.ajax({
                    url: '/pick-up-point/new-order',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(order),
                    success: function(data) {
                        console.log('Заказ успешно создан:', data);
                        $('#orderNameInput').val('');
                        $('#customerIdInput').val('');
                        showOrders();
                    },
                    error: function(error) {
                        console.error('Ошибка при создании заказа:', error);
                    }
                });
            } else {
                alert('Пожалуйста, заполните все поля формы.');
            }
        });
    });
</script>
</body>
</html>